@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <mensagem texto="@TempData["msg"]"></mensagem>
    <a asp-action="cadastrar" asp-controller="produtos" class="card-link">Produtos</a>
</div>
